{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
  <!-- service section -->
  <section class="service_section layout_padding">
    <div class="container-fluid">
      <div class="heading_container">
        {% for i in object_list %}
        <h2>
        {{i.title}}
        </h2>
        <p>
          {{i.sub_title}}
        </p>
      </div>
        {% endfor %}
      <div class="service_container">
        <div class="box">
          {% for department in department %}
          <div class="img-box">
            <img src="{{department.image.url}}" alt="">
          </div>
          <div class="detail-box">
            <h5>
              {{department.title}}
            </h5>
            <p>
            {{department.sub_title}}
            </p>
            {% endfor %}
          </div>
        </div>
    </div>
  </section>
  <!-- end service section -->
{% endblock %}